HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

### Maven ###
.mvn/
mvnw
mvnw.cmd

### Шаблоны документов (не игнорируем, но можно раскомментировать если нужно) ###
# src/main/resources/templates/*.docx
# src/main/resources/templates/*.xlsx

### Логи ###
*.log
logs/

### Временные файлы ###
*.tmp
*.bak
*.swp
*~

### OS ###
.DS_Store
Thumbs.db
/Інвойс_2210.docx
/test_excel.xlsx
/Technical_Declaration_template.docx
/Technical Declaration_.docx
/osw_correct _template.docx
/Notification_template.docx
/_цмр2template.docx
/_цмр приклад.docx
/_Сертифікат якості 05-ВТ.docx
/_test_template.docx
/_invoice_template – копія.docx
/_invoice_template.docx
/_Annex Nr17(1).docx
